.buttons-container {
	align-self: center;
}

.buttons-container button {
	margin-top: 2rem;
	padding-block: 1rem;
	padding-inline: 2rem;

	font-size: 1.7rem;

	border: none;
	border-radius: 2rem;

	cursor: pointer;

	transition: all 0.2s;
}

.buttons-container > *:not(:last-child) {
	margin-right: 1rem;
}

.form__button {
	background-color: #fdcab7;
	color: white;
}

.form__button:hover,
.form__button:focus {
	background-color: #ff9770;
}

.form__button--reset {
	background-color: #e6e5e0;
	color: white;
}

.form__button--reset:hover,
.form__button--reset:focus {
	background-color: #c7cfd1;
}
