.form {
	display: flex;
	flex-direction: column;
}

.buttons-container {
	align-self: center;
}

.buttons-container > *:not(:last-child) {
	margin-right: 1rem;
}

.form__button {
	align-self: center;

	padding-block: 1rem;
	padding-inline: 2rem;

	font-size: 1.7rem;

	border: none;
	border-radius: 2rem;

	background-color: #fdcab7;
	color: white;

	cursor: pointer;

	transition: all 0.2s;
}

.form__button:hover,
.form__button:focus {
	background-color: #ff9770;
}
